
{% extends 'nave.html' %}
{% load static %}
{% block content%}
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card rounded-3">
            <div class="card-body mx-1 my-2">
             
  
              <div class="pt-3">
                <div class="d-flex flex-row pb-3">
                  <div class="rounded border border-primary border-2 d-flex w-100 p-3 align-items-center"
                    style="background-color: rgba(18, 101, 241, 0.07);">
                  
                   
                    <div class="d-flex flex-column text-align-center">
                      <p class="mb-1 small text-primary">Total amount</p>
                      <h6 class="mb-0 text-primary">{{ grand_total }}</h6>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="d-flex justify-content-between align-items-center pb-1">
                <a href="{% url 'home' %}" class="text-muted">Go back to Home</a>

                <a href="{% url 'cod_verify' %}"><button type="button" class="btn btn-primary btn-lg">Order Now</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}