
{% extends 'base.html' %}

{% block content%}


<section class="bg-title-page p-t-100 p-b-40 flex-col-c-m" style=" background-image:
radial-gradient(rgba(0, 0, 0, 0.607), rgba(245, 246, 252, 0.105) ),
url('/static/images/mainimg5.jpg');">
	<h2 class="l-text2 t-center">
		Boot it
	</h2>
	<p class="m-text13 t-center">
		New Arrivals Soccer Collection 2022
	</p>
</section>


<!-- Content page -->



<section class="bgwhite p-t-55 p-b-65">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				<div class="leftbar p-r-20 p-r-0-sm">
					<!--  -->
					<h4 class="m-text14 p-b-7">
						Categories
					</h4>

					<ul class="p-b-54">
						<li class="p-t-4">
							<a href="{% url 'category' %}" class="s-text13 active1">
								All
							</a>
						</li>
                       {% if not categories %}
					    {% for x in link %}
						<li class="p-t-4">
							<a href="{{ x.get_url }}" class="s-text13">{{ x.name }}</a>
						</li>
                    {% endfor %}
					{% endif %}
					 {% for s in link %}
					 {% if s.category == categories %}
					 <li class="p-t-4">
						<a href="{{ s.get_url }}" class="s-text13">{{ s.name }}</a>
					</li>
					{% endif %}
					{% endfor %}
						

					<!--  -->
					<h4 class="m-text14 p-b-32">
						Filters
					</h4>

					<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
						<select class="selection-2 form-control" name="sorting">
							<option>Price</option>
							<option>$0.00 - $50.00</option>
							<option>$50.00 - $100.00</option>
							<option>$100.00 - $150.00</option>
							<option>$150.00 - $200.00</option>
							<option>$200.00+</option>

						</select>
					</div>
					<div class="filter-color p-t-22 p-b-50 bo3">
						<div class="m-text15 p-b-12">
							Color
						</div>

						<ul class="flex-w">
							<li class="m-r-10">
								<input class="checkbox-color-filter" id="color-filter1" type="checkbox" name="color-filter1">
								<label class="color-filter color-filter1" for="color-filter1"></label>
							</li>

							<li class="m-r-10">
								<input class="checkbox-color-filter" id="color-filter2" type="checkbox" name="color-filter2">
								<label class="color-filter color-filter2" for="color-filter2"></label>
							</li>

							<li class="m-r-10">
								<input class="checkbox-color-filter" id="color-filter3" type="checkbox" name="color-filter3">
								<label class="color-filter color-filter3" for="color-filter3"></label>
							</li>

							<li class="m-r-10">
								<input class="checkbox-color-filter" id="color-filter4" type="checkbox" name="color-filter4">
								<label class="color-filter color-filter4" for="color-filter4"></label>
							</li>

							<li class="m-r-10">
								<input class="checkbox-color-filter" id="color-filter5" type="checkbox" name="color-filter5">
								<label class="color-filter color-filter5" for="color-filter5"></label>
							</li>

							<li class="m-r-10">
								<input class="checkbox-color-filter" id="color-filter6" type="checkbox" name="color-filter6">
								<label class="color-filter color-filter6" for="color-filter6"></label>
							</li>

							<li class="m-r-10">
								<input class="checkbox-color-filter" id="color-filter7" type="checkbox" name="color-filter7">
								<label class="color-filter color-filter7" for="color-filter7"></label>
							</li>
						</ul>
					</div>

						<form action="{% url 'search' %}" method="GET">
						<div class="search-product pos-relative bo4 of-hidden">
							<input class="s-text7 size6 p-l-23 p-r-50" type="text" name="keyword" placeholder="Search Products...">

							<button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4" type="submit">
								<i class="fs-12 fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
						</form>
				</div>
			</div>

			<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
				<!--  -->
				<div class="flex-sb-m flex-w p-b-35">
					<div class="flex-w">
						<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
							<select class="selection-2 form-control" name="sorting">
								<option>Default Sorting</option>
								<option>Popularity</option>
								<option>Price: low to high</option>
								<option>Price: high to low</option>
							</select>
						</div>

						<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
							<select class="selection-2 form-control" name="sorting">
								<option>Price</option>
								<option>$0.00 - $50.00</option>
								<option>$50.00 - $100.00</option>
								<option>$100.00 - $150.00</option>
								<option>$150.00 - $200.00</option>
								<option>$200.00+</option>

							</select>
						</div>
					</div>

					<span class="s-text8 p-t-5 p-b-5">
					{{product}} Items Found
					</span>
				</div>

				<!-- Product -->
				<div class="row">
					{% if products %}
					{% for x in products %}
					<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<a href="{{ x.get_url }}"><img src="{{ x.image.url }}"alt="IMG-PRODUCT">
                                </a>
								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<a href="{{ x.get_url }}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4 text-white">
											View Item
										</a>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="{{ x.get_url }}" class="block2-name dis-block s-text3 p-b-5">
									{{ x.product_name }}
								</a>

								<span class="block2-price m-text6 p-r-5">
									RS.{{ x.price }}
								</span>
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
				<h2 class="text-danger">No Result Found</h2>
				{% endif %}
				<!-- Pagination -->
				<div class="row">
					<div class="pagination d-flex-m flex-w p-t-50">
						{% if products.has_other_pages %}
						<div class="product__pagination">
							{% if products.has_previous %}
							<a class="item-pagination d-flex-c-m p-3 trans-0-4"href="?page={{products.previous_page_number}}"><</a>
							{% endif %}

							{%  for i in products.paginator.page_range %}
								{% if products.number == i %}
								<a class="active item-pagination p-3 trans-0-4" href="#" style="width: 2rem; height: 2rem; border-radius: 50%">{{i}}</a>
									{% else %}
								<a class="item-pagination p-3 trans-0-4" href="?page={{i}}">{{i}}</a>
							
							{% endif %}
						   {% endfor %}
							{% if products.has_next %}
							<a class="item-pagination d-flex-c-m p-3 trans-0-4" href="?page={{products.next_page_number}}">></a>
							{% endif %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}