{% extends 'master/mbase.html' %}
{% load static %}
{% block content %} 




<div class="col-12 grid-margin stretch-card" style="min-height: 200px;">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center tex-primary m-3"> Add Admin</h3>
      
      <form method="post" action="" class="mx-1 mx-md-4">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputName1">{{ form.first_name }}</label>
          <label class="form-label" for="form3Example1c">First name</label>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">{{ form.last_name }}</label>
          <label class="form-label" for="form3Example1c">Last name </label>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword4">{{ form.username }}</label>
          <label class="form-label" for="form3Example1c">username</label>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword4">{{ form.email }}</label>
          <label class="form-label" for="form3Example1c">email</label>
        </div>
     
       
        <div class="form-group">
          <label for="exampleInputPassword4">{{ form.phone_number }}</label>
          <label class="form-label" for="form3Example1c">phone number</label>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword4">{{ form.password }}</label>
            <label class="form-label" for="form3Example1c">password</label>
          </div>
        
        <div class="form-group">
            <label for="exampleInputPassword4">{{ form.confirm_password }}</label>
            <label class="form-label" for="form3Example1c">Confirm password</label>
          </div>
           
        <div class="form-group">
          <label for="exampleInputPassword4">{{ form.is_admin }}</label>
          <label class="form-label" for="form3Example1c">is admin</label>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword4">{{ form.is_superadmin }}</label>
            <label class="form-label" for="form3Example1c">is superadmin</label>
          </div>

        
        <div class="form-group">
          <label for="exampleInputPassword4">{{ form.is_staff }}</label>
          <label class="form-label" for="form3Example1c">is staff</label>
        </div>

        
        <div class="form-group">
          <label for="exampleInputPassword4">{{ form.is_active }}</label>
          <label class="form-label" for="form3Example1c">is active</label>
        </div>
    
        <button type="submit" class="btn btn-primary mr-2" type="submit">Submit</button>
        <a href="{% url 'users' %}"><button class="btn btn-light mr-2 mt-2">Cancel</button></a>
      </form>
    </div>
  </div>
</div>



{% endblock content %}