{% extends 'master/mbase.html' %}
{% load static %}
{% block content %} 




<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add variation</h4>
      
      <form class="forms-sample" action="" enctype='multipart/form-data' method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputName1">{{ form.product }}</label>
          <label class="form-label" for="form3Example1c">product</label>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">{{ form.variation_category }}</label>
          <label class="form-label" for="form3Example1c">variation category</label>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword4">{{ form.variation_value }}</label>
          <label class="form-label" for="form3Example1c">variation value</label>
        </div>

    
        <button type="submit" class="btn btn-primary mr-2" type="submit">Submit</button>
        <a href="{% url 'variationz' %}"><button class="btn btn-light">Cancel</button></a>
      </form>
    </div>
  </div>
</div>






{% endblock content %}