{% extends 'master/mbase.html' %}
{% load static %}
{% block content %} 




<div class="col-12 grid-margin stretch-card" style="min-height: 200px;">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center tex-primary m-3"> edit price filter </h3>
      
      <form class="forms-sample" action="" enctype='multipart/form-data' method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputName1">{{ form.name }}</label>
          <label class="form-label" for="form3Example1c">Discount code</label>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">{{ form.pricerange_from }}</label>
          <label class="form-label" for="form3Example1c">Discount percentage</label>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword4">{{ form.pricerange_to }}</label>
          <label class="form-label" for="form3Example1c"> Discount from</label>
        </div>

       
    
        <button type="submit" class="btn btn-primary mr-2" type="submit">Submit</button>
        <a href="{% url 'pricefilter' %}"><button class="btn btn-light">Cancel</button></a>
      </form>
    </div>
  </div>
</div>
{% endblock content %} 